ion-content {
    --background: url(/assets/images/birthday-cake-cake-birthday-cupcakes-40183.jpeg);
    --background-size: cover;
}

h2 {
    text-align: center;
}

h3 {
    position: absolute;
    bottom: 2%;
    right: 2%;
}